.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}
/* Todo: Added - font family: open sans  */

/* Todo: Common css start */
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.dark-2 {
    color: #474747;
}

.btn {
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 36px;
    border-radius: 5px;
    background-color: #fd6e0a;
}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-top: 0;
}

.section-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0 30px;
}

.bg-color {
    background-color: #fff8f3;
}

.text-center {
    text-align: center;
}

main {
    background-color: #fefefe;
    max-width: 1140px;
    margin: 0 auto;
}
/* Todo: Common css end */

/* Todo: Header css start */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding: 50px 0;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

.nav-title > span {
    color: #fd6e0a;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 50px;
}

nav ul li a {
    font-size: 20px;
    font-weight: 400;
}
/* Todo: Header css end */

/* Todo: Banner css start */
.banner {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    max-width: 585px;
    margin-left: 200px;
    padding: 115px 0;
}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
}

.banner-profile-pic {
    width: 580px;
    margin-right: 40px;
}
/* Todo: Banner css end */

/* Todo: About css start */
.about {
    margin: 130px 0;
    text-align: center;
    border-radius: 10px;
    padding: 130px 156px;
}

.about-border {
    border: 1px solid #000;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-title {
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.item-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
    margin: 0;
}
/* Todo: About css end */

/* Todo: Skill css start */
.skill-part > .section-description {
    padding-left: 110px;
    padding-right: 110px;
}

.skill-container {
    gap: 24px;
    display: flex;
    margin-bottom: 130px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    padding: 30px 0 20px;
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 30px;
}
/* Todo: Skill css end */
